<turbo-frame
  id="conversation"
  class="relative flex flex-col flex-1"
  data-turbo-action="advance"
>
  <%= button_to user_path(Current.user),
    id: "handle",
    form_class: %|
      hidden md:flex
      absolute left-0 -mt-10 top-1/2
      z-20
      cursor-pointer
      group
    |,
    method: :patch,
    params: { user: { preferences: { nav_closed: !Current.user.preferences[:nav_closed] } } },
    class: %| flex-1 flex w-8 h-20
    |,
    data: {
      turbo_frame: "_top",
      controller: "keyboard",
      action: %|
        keydown.meta+shift+s@document->keyboard#click
        keydown.ctrl+shift+s@document->keyboard#click
        keydown.meta+period@document->keyboard#click
        keydown.ctrl+period@document->keyboard#click
      |,
  } do
  %>
    <div
      id="left-handle"
      class="
        flex-1 flex h-full
        items-center justify-center
        tooltip tooltip-right hover:tooltip-open
        <%= Current.user.preferences[:nav_closed] && "!hidden" %>
      "
      data-tip="Close sidebar"
    >
      <div id="left" class="flex-col w-1 h-5 opacity-70">
        <div class="w-1 h-3 -mb-1 bg-gray-400 rounded-full group-hover:rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
        <div class="w-1 h-3 bg-gray-400 rounded-full group-hover:-rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
      </div>
    </div>

    <div
      id="right-handle"
      class="
        flex-1 flex h-full
        items-center justify-center
        tooltip tooltip-right hover:tooltip-open
        <%= !Current.user.preferences[:nav_closed] && "!hidden" %>
      "
      data-tip="Open sidebar"
    >
      <div id="right" class="flex-col w-1 h-5 opacity-70">
        <div class="w-1 h-3 -mb-1 bg-gray-400 rounded-full -rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
        <div class="w-1 h-3 bg-gray-400 rounded-full rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
      </div>
    </div>
  <% end %>

  <!-- Only one of these headers is visible at a time, depending on width -->
  <header id="wide-header" class="justify-between flex-none hidden h-10 mt-2 mb-3 ml-2 text-lg text-gray-950 dark:text-gray-100 md:flex">
    <%= render 'messages/main_column/assistant_header' %>

    <%= link_to new_assistant_message_path(@assistant),
        class: "block cursor-pointer inline-flex mr-3 px-2 py-2 group",
        data: {
          role: "new",
          controller: "keyboard",
          action: %|
            keydown.meta+shift+o@document->keyboard#click
            keydown.ctrl+shift+o@document->keyboard#click
            keydown.meta+j@document->keyboard#click
            keydown.ctrl+j@document->keyboard#click
          |
        } do %>
      <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "New chat", tooltip: :left %>
    <% end %>
  </header>

  <header id="narrow-header" class="flex-none text-lg text-center h-14 md:hidden">
    <div class="flex items-center justify-between flex-1 mb-2 border-b border-gray-300 text-gray-950 dark:text-gray-100 dark:border-gray-600 dark:bg-gray-800">
      <%= button_tag type: "button",
        class: "inline-flex px-2 ml-1 cursor-pointer group",
        data: {
          action: "transition#toggleClass"
        } do
      %>
        <%= icon "bars-3", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "Menu", tooltip: :right %>
      <% end %>

      <%= render 'messages/main_column/assistant_header' %>

      <%= link_to new_assistant_message_path(@assistant), class: "block cursor-pointer inline-flex mr-1 px-2 group", data: { role: "new" } do %>
        <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-gray-950 dark:text-gray-100', title: "New chat", tooltip: :left %>
      <% end %>
    </div>
  </header>
  <!-- end header possibilities -->

  <section class="flex flex-col flex-grow overflow-y-auto bg-white dark:bg-gray-800 overflow-x-clip scrollbar-hide" data-controller="scrollable" data-scrollable-not-bottom-class="!block">

    <div id="messages" class="relative flex-grow overflow-y-auto overflow-x-clip scrollbar-hide overscroll-contain" data-scrollable-target="scrollable" data-action="scroll->scrollable#scrolled">
      <div class="w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto mt-2">
        <%= yield :messages %>
      </div>
    </div>

    <footer class="relative flex flex-col flex-none">
      <div id="scroll-button" class="absolute hidden text-center transform -translate-x-1/2 -top-14 left-1/2" data-scrollable-target="widget">
        <%= button_tag type: "button",
              class: "block rounded-full bg-white dark:bg-gray-800 border border-gray-100 dark:border-gray-600 inline-flex px-2 py-2 tooltip tooltip-top hover:tooltip-open cursor-pointer group",
              data: {
                tip: "Scroll down",
                action: "scrollable#scrollToBottom"
              } do
        %>
          <%= icon "arrow-down", variant: :outline, size: 16, class: 'text-gray-800 dark:text-white cursor-pointer stroke-3' %>
        <% end %>
      </div>

      <div  id="composer"
            class="flex-1 pl-6 pr-6 w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto relative leading-relaxed <%= @assistant.images.blank? && 'relationship' %>"
            data-controller="image-upload"
      >
        <%= button_tag type: "button",
              id: "attach-button",
              class: "absolute left-9 bottom-6 w-[23px] h-[23px] relationship:hidden",
              data: { action: "image-upload#choose" } do
        %>
          <%= icon "paper-clip",
                variant: :mini,
                size: 23,
                class: %|
                  text-black dark:text-white
                  cursor-pointer stroke-2
                |,
                title: 'Attach',
                tooltip: :top
          %>
        <% end %>

        <div id="document-previews" class="absolute hidden space-x-3 left-7 top-3 show-previews:preview-container" data-image-upload-target="preview">
            <div  class="flex flex-col items-stretch w-16 h-16 overflow-hidden border-2 border-gray-100 rounded-xl group"
                  data-role="preview"
            >
              <%= button_tag type: "button",
                  class: "rounded-full absolute -top-2 -right-2 border border-gray-300 bg-gray-200 hidden group-hover:block",
                  data: {
                    action: "image-upload#remove",
                    role: "preview-remove"
                  } do
              %>
                <%= icon "x-mark",
                      variant: :mini,
                      class: %|
                        text-gray-600 hover:text-gray-900 dark:text-gray-300 dark:hover:text-white
                        cursor-pointer stroke-2
                      |,
                      title: 'Remove file',
                      tooltip: :top
                %>
              <% end %>

              <%= button_tag type: "button",
                    class: "w-full h-full flex-1 p-0" do
              %>
              <%= image_tag "", class: "w-full h-full object-cover" %>
            <% end %>
          </div>
        </div>

        <%= form_with(model: [@assistant, @new_message], data: { controller: "new-message", turbo_frame: "_top" }) do |form| %>
          <%= form.hidden_field :conversation_id %>
          <%= form.fields_for :documents, @new_message.documents.build do |document_form| %>
            <%= document_form.file_field :file, class: "hidden", data: { image_upload_target: "file" } %>
          <% end %>

          <%= form.text_area :content_text,
            data: {
              new_message_target: "input",
              image_upload_target: "content",
              application_target: "newMessageField",
              controller: "textarea-autogrow",
              action: %|
                new-message#disableSubmitButton
                keydown.enter->new-message#submitForm:prevent
                keydown.meta+enter->new-message#submitForm
                keydown.ctrl+enter->new-message#submitForm
                keydown.shift+esc@document->new-message#focusKeydown
                keydown.slash@document->new-message#focusKeydown
                keydown.esc->new-message#unfocusKeydown
                keydown.meta+shift+o->new-message#unfocusKeydown
                keydown.ctrl+shift+o->new-message#unfocusKeydown
                keydown.meta+j->new-message#unfocusKeydown
                keydown.ctrl+j->new-message#unfocusKeydown
              |
            },
            rows: 1,
            placeholder: "Message #{@assistant.name} ...",
            class: %|
              w-full pt-[14px] pb-[13px] min-h-14
              mb-2 block
              pl-14 pr-12 relationship:pl-4 show-previews:pt-24
              bg-transparent
              text-black placeholder-gray-500 dark:text-gray-200
              text-md
              rounded-2xl border-gray-300
              focus:ring-0 focus:border-gray-400 focus:shadow
              disabled:text-gray-300 disabled:border-gray-200
              resize-none
            |
          %>

          <div id="send-button" class="absolute right-8 bottom-4 w-[39px] h-[39px]">
            <%= form.button type: "button",
              data: {
                new_message_target: "submit",
                action: "new-message#submitForm"
              },
              id: "send",
              disabled: true,
              class: %w|
                text-gray-100 dark:text-gray-600
                enabled:text-black
                enabled:dark:text-white
              | do
            %>
              <%= icon "arrow-up-circle", variant: :solid, size: 39, title: 'Send message', tooltip: :top %>
            <% end %>
          </div>

          <div
            id="composer-overlay"
            data-new-message-target="overlay"
            class="absolute inset-0 bg-white bg-opacity-65 hidden">
          </div>

        <% end %>
      </div>

      <div class="w-full mb-2 text-xs text-center text-gray-400 dark:text-gray-300">
        HostedGPT can make mistakes. Double check information.
      </div>
  </footer>
</turbo-frame>

<dialog
  id="tooltip-dialog"
  class="modal no-focus-outline"
  data-controller="modal"
  data-action="keydown@document->modal#open"
>
  <main class="modal-box max-w-4xl">
    <header class="font-bold text-lg mb-5">
      Keyboard shortcuts
    </header>
    <article class="flex flex-col md:flex-row">
      <section class="flex-1 pr-0 md:pr-5">
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Open new chat
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">Ctrl / ⌘</div>
            <div class="key">J</div>
          </kbd>
        </figure>
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Focus chat input
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">/</div>
          </kbd>
        </figure>
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Unfocus chat input
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">ESC</div>
          </kbd>
        </figure>

      </section>
      <section class="flex-1 pl-0 md:pl-5">
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Copy last code block or response
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">Ctrl / ⌘</div>
            <div class="key">Shift</div>
            <div class="key">C</div>
          </kbd>
        </figure>
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Toggle sidebar
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">Ctrl / ⌘</div>
            <div class="key">.</div>
          </kbd>
        </figure>
        <figure class="flex py-2">
          <figcaption class="flex-grow flex items-center">
            Show shortcuts
          </figcaption>
          <kbd class="w-40 text-right">
            <div class="key">?</div>
          </kbd>
        </figure>
      </section>
    </article>
  </main>
  <form method="dialog" class="modal-backdrop no-focus-outline">
    <button id="modal-backdrop">close</button>
  </form>
</dialog>

