<div id="<%= dom_id message %>" class="ml-9 md:ml-8 sm:ml-3 mb-5 group">
  <div class="flex">
    <div class="w-6 flex flex-col items-center ml-1">
      <div class="w-6 h-6 bg-black dark:bg-white rounded-full mt-1"></div>
    </div>

    <!-- Right Column -->
    <div class="flex-1 min-w-0 ml-3 mr-8 text-black dark:text-gray-200 text-base">
      <div class="mt-1 font-black">
        <%= message.user? ? 'You' : conversation.assistant.name %>
      </div>

      <div class="text-gray-700 dark:text-white">
        <%= message.content_text %>
      </div>

      <div class="mt-2 flex justify-start gap-2 text-gray-500 invisible group-hover:visible">
        <% if message.user? %>
          <%= icon "pencil-square", variant: :outline, size: 18, class: 'hover:text-gray-900 cursor-pointer stroke-2', title: "Edit" %>
        <% else %>
          <%= icon "clipboard", variant: :outline, size: 18, class: 'hover:text-gray-900 cursor-pointer stroke-2', title: "Copy" %>
          <%= icon "arrow-path", variant: :outline, size: 18, class: 'hover:text-gray-900 cursor-pointer stroke-2', title: "Retry" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
