<%# locals: (message:, scroll_down: false, only_scroll_down_if_was_bottom: false, request_id: nil, message_counter: -1) -%>
<%# request_id is not used, but broadcasting turbo stream messages provides it as a local so it needs to be accepted %>

<% max_index = message.conversation.messages.length - 1 %>
<% last_message = message_counter == max_index %>
<% initial_page_load = last_message && !scroll_down %>
<% scroll_down = scroll_down || initial_page_load %>

<div
  id="<%= dom_id message %>"
  class="mb-5 ml-9 sm:ml-3 md:ml-8 group"
  data-role="message"
  data-controller="<%= (scroll_down || only_scroll_down_if_was_bottom) && 'message-scroller' %>"
  data-message-scroller-scroll-down-value="<%= scroll_down %>"
  data-message-scroller-instantly-value="<%= initial_page_load %>"
  data-message-scroller-only-scroll-down-if-scrolled-to-bottom-value="<%= only_scroll_down_if_was_bottom %>"
>
  <div class="flex">
    <div class="flex flex-col items-center w-6 ml-1">
      <div class="w-6 h-6 mt-1 bg-black rounded-full dark:bg-white"></div>
    </div>

    <!-- Right Column -->
    <div data-controller="clipboard" class="flex-1 min-w-0 ml-3 mr-8 text-base text-gray-950 dark:text-gray-100">

      <div class="mt-1 font-semibold" data-role="role">
        <%= message.user? ? 'You' : message.conversation.assistant.name %>
      </div>

      <% if message.documents.present? && message.documents.first.file.attached? %>
        <%= image_tag message.documents.first.file, class: "w-full h-auto border-2 border-gray-100 rounded-md" %>
      <% end %>

      <%# This div needs to be tightly wrapped around the content_text output because the whitespace formatting is important. %>
      <div class="whitespace-pre-wrap" data-role="content-text" data-clipboard-target="text"><%= message.content_text %></div>

      <div class="flex justify-start invisible gap-2 mt-2 text-gray-600 dark:text-gray-300 group-hover:visible">
        <% if message.user? %>
          <%= icon "pencil", variant: :outline, size: 18, class: 'hover:text-gray-900 dark:hover:text-white cursor-pointer stroke-2', title: "Edit" %>
        <% else %>
          <%= icon "clipboard",
                variant: :outline,
                size: 18,
                class: "hover:text-gray-900 dark:hover:text-white cursor-pointer stroke-2",
                title: "Copy",
                data: { :action => "click->clipboard#copy", tip: "Copy" }
          %>
          <%= icon "arrow-path", variant: :outline, size: 18, class: 'hover:text-gray-900 dark:hover:text-white cursor-pointer stroke-2', title: "Regenerate" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
