<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing message</h1>

  <turbo-frame id="message-<%= @message.id %>">
    <%= form_with(
      model: [@assistant, @new_message],
      class: "content-text",
      data: {
        turbo_frame: "_top",
        controller: "inline-edit"
    }) do |form| %>
      <%= form.hidden_field :conversation_id, value: @message.conversation_id %>
      <%= form.hidden_field :index, value: @message.index %>
      <%= form.hidden_field :branched, value: true %>
      <%= form.hidden_field :branched_from_version, value: @message.version %>

      <%= form.text_area :content_text,
        id: "edit-message-#{@message.id}",
        value: @message.content_text,
        autofocus: true,
        class: %|
          prose
          w-full p-0 m-0
          border-0 focus:ring-0
          bg-transparent
          text-black dark:text-gray-200
          leading-normal
          resize-none
        |,
        rows: 1,
        data: {
          inline_edit_target: "input",
          controller: "textarea-autogrow",
        }
      %>

      <div class="flex justify-center items-center text-sm font-medium">
        <%= form.submit "Save & Submit",
          data: { role: "save" },
          class: %|
            inline-block cursor-pointer
            rounded-lg py-2 px-3
            bg-gray-200 dark:bg-gray-900
            border border-gray-400
        | %>
        <%= link_to "Cancel", @message,
          data: { role: "cancel" },
          class: "inline-block ml-5"
        %>
      </div>
    <% end %>
  </turbo-frame>

  <%= link_to "Show this message", @message, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
