<div class="mx-auto md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing message</h1>

  <turbo-frame id="message-<%= @message.id %>">
    <%= form_with(model: @message, data: { controller: "inline-edit" }, class: "content-text") do |form| %>

      <%= form.text_area :content_text,
        autofocus: true,
        class: %|
          prose
          w-full p-0 m-0
          border-0 focus:ring-0
          leading-normal
          resize-none
        |,
        rows: 1,
        data: {
          inline_edit_target: "input",
          controller: "textarea-autogrow",
        }
      %>

      <div class="flex justify-center items-center text-sm font-medium">
        <%= form.submit "Save & Submit", class: "rounded-lg py-2 px-3 bg-gray-200 dark:bg-gray-900 border border-gray-400 inline-block cursor-pointer" %>
        <%= link_to "Cancel", @message, class: "inline-block ml-5" %>
      </div>
    <% end %>
  </turbo-frame>

  <%= link_to "Show this message", @message, class: "ml-2 rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
</div>
