<%= content_for :left_column do %>
  <%= render 'left_column' %>
<% end %>

<%= content_for :messages do %>

  <%= turbo_stream_from @conversation %>

  <div class="min-w-full">
    <turbo-frame id="messages">  <%# development works w/o this frame but test does not %>
      <%= render @messages %>
    </turbo-frame>
  </div>

<% end %>

<%= render 'right_column' %>