<%= content_for :nav_column do %>
  <%= render 'nav_column' %>
<% end %>

<%= content_for :messages do %>

  <%= turbo_stream_from @conversation %>

  <div class="min-w-full">
    <turbo-frame id="messages">  <%# development works w/o this frame but test does not %>
      <%= render @messages %>
    </turbo-frame>
  </div>

<% end %>

<%= render "main_column" %>