<%= content_for :nav_column do %>
  <%= render 'nav_column' %>
<% end %>

<%= content_for :messages do %>
  <div class="absolute flex flex-col items-center justify-between w-full h-[96%] lg:max-w-[700px] xl:max-w-[810px]">
    <div class="flex flex-row items-center h-full overflow-y-auto scrollbar-hide">
      <div class="flex flex-col items-center gap-3">
        <div class="p-3 bg-white border border-gray-100 rounded-full">
          <%= inline_svg("logo_iso", width: "24", height: "24", class: "text-gray-950") %>
        </div>
        <span class="text-2xl font-semibold tracking-tighter">
          How can I help you today?
        </span>
      </div>
    </div>

    <div class="grid w-full grid-cols-1 gap-2 px-6 bg-transparent md:grid-cols-2">
      <%= render partial: "messages/main_column/conversation_starter",
                 collection: @conversation_starters,
                 with_index: true %>
    </div>
  </div>
<% end %>

<%= render "main_column" %>
