<%= content_for :left_column do %>
  <%= render 'left_column' %>
<% end %>

<%= content_for :messages do %>
  <div class="absolute flex flex-col items-center justify-between w-full h-[96%] lg:max-w-[700px] xl:max-w-[810px]">
    <div class="flex flex-row items-center h-full">
      <span class="text-2xl font-semibold tracking-tighter">
        How can I help you today?
      </span>
    </div>

    <div class="grid w-full grid-cols-1 gap-2 px-6 md:grid-cols-2">
      <%= render "messages/right_column/conversation_starters" %>
    </div>
  </div>
<% end %>

<%= render 'right_column' %>
