<%= content_for :left_column do %>
  <%= render 'left_column' %>
<% end %>

<%= content_for :messages do %>
  <div class="absolute flex flex-col items-center justify-between w-full h-[96%] lg:max-w-[700px] xl:max-w-[810px]">
    <div class="flex flex-row items-center h-full">
      <span class="text-2xl font-semibold tracking-tighter">
        How can I help you today?
      </span>
    </div>
    <div class="grid w-full grid-cols-1 gap-2 px-6 md:grid-cols-2">
      <%= button_tag type: "button", 
                     class: "border border-gray-200 rounded-xl px-4 py-3 text-left hover:bg-gray-50 group" do %>
        <div class="flex items-center justify-between text-sm">
          <div>
            <span class="font-bold">Help me pick</span><br/>
            <span class="opacity-50">an outfit that will look good on camera</span>
          </div>
          <div class="hidden p-1.5 bg-white rounded-full group-hover:block">
            <%= icon "arrow-up", variant: :outline, size: 12, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
          </div>
        </div>
      <% end %>
      <%= button_tag type: "button", 
                     class: "border border-gray-200 rounded-xl px-4 py-3 text-left hover:bg-gray-50 group" do %>
        <div class="flex items-center justify-between text-sm">
          <div>
            <span class="font-bold">Help me pick</span><br/>
            <span class="opacity-50">an outfit that will look good on camera</span>
          </div>
          <div class="hidden p-1.5 bg-white rounded-full group-hover:block">
            <%= icon "arrow-up", variant: :outline, size: 12, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
          </div>
        </div>
      <% end %>
      <%= button_tag type: "button", 
                     class: "border border-gray-200 rounded-xl px-4 py-3 text-left hover:bg-gray-50 group" do %>
        <div class="flex items-center justify-between text-sm">
          <div>
            <span class="font-bold">Help me pick</span><br/>
            <span class="opacity-50">an outfit that will look good on camera</span>
          </div>
          <div class="hidden p-1.5 bg-white rounded-full group-hover:block">
            <%= icon "arrow-up", variant: :outline, size: 12, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
          </div>
        </div>
      <% end %>
      <%= button_tag type: "button", 
                     class: "border border-gray-200 rounded-xl px-4 py-3 text-left hover:bg-gray-50 group" do %>
        <div class="flex items-center justify-between text-sm">
          <div>
            <span class="font-bold">Help me pick</span><br/>
            <span class="opacity-50">an outfit that will look good on camera</span>
          </div>
          <div class="hidden p-1.5 bg-white rounded-full group-hover:block">
            <%= icon "arrow-up", variant: :outline, size: 12, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
<% end %>

<%= render 'right_column' %>
