<div class='flex flex-col items-center justify-center w-full h-screen space-y-4'>

  <%= inline_svg_tag("logo_iso", height: "32", width: "32", class:"text-black dark:text-brand-blue") %>

  <h2 class='text-3xl font-semibold'>Welcome back</h2>

  <span class='text-sm text-center'>
    Don't have an account? <%= link_to "Sign up", new_user_path, class: "underline" %>
  </span>

  <%= form_with(url: login_path, method: :post, class: "flex flex-col space-y-4 w-80") do |f| %>
    <%= f.email_field :email,
      value: params[:email],
      id: "email",
      autofocus: params[:email].present? ? false : true,
      placeholder: "Email address",
      class: "border border-gray-400 rounded p-3 dark:text-black"
    %>
    <%= f.password_field :password,
      id: "password",
      autofocus: params[:email].present? ? true : false,
      placeholder: "Password",
      class: "border border-gray-400 rounded p-3 dark:text-black"
    %>
    <%= f.submit "Log In", class: 'bg-gray-200 dark:bg-gray-900 border border-gray-400 rounded font-medium p-4 text-center cursor-pointer' %>
  <% end %>
</div>
