<% content_for :heading, "Reset your password" %>

<%= form_with model: @person, url: password_reset_edit_path(token: params[:token]), class: "flex flex-col space-y-4 w-80" do |f| %>
  <%= f.fields_for :personable_attributes, @person.personable do |user_fields| %>
    <%= user_fields.fields_for :credentials_attributes, @person.personable.credentials.build, index: "0" do |credential_fields| %>
      <%= credential_fields.hidden_field :type, value: "PasswordCredential" %>
      <%= credential_fields.label :password, class: "input input-bordered flex items-center justify-between" do %>
        <span>Password <span class="">*</span></span>
        <%= credential_fields.password_field :password,
          autofocus: true,
          placeholder: "Password",
          class: "w-44 border-0 dark:text-black",
          data: { action: "focus->transition#toggleClassOn" }
        %>
      <% end %>
    <% end %>
  <% end %>

  <%= f.submit 'Reset Password',
        class: %|
          text-white font-medium
          bg-brand-blue dark:bg-gray-900
          border border-white dark:border-gray-400
          rounded-lg p-4 text-center
          cursor-pointer
          hover:opacity-95
        |
  %>
<%end%>
