<% selected = (assistant == @assistant) %>

<% if assistant_counter == 0 %>
  <div class="sticky top-0 pt-3 mb-1 bg-black z-10">
<% end %>

  <div class="h-10 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 justify-between items-center group cursor-pointer scale-down mb-1 mr-5 text-sm">
    <div id="profile" class="ml-2 mr-2 w-7 h-7 bg-white rounded-full"></div>
    <%= link_to assistant.name,
        new_assistant_message_path(assistant),
        class: "flex-1 text-white truncate",
        data: { turbo_frame: '_top' }
    %>
    <div class="<%= selected ? 'flex' : 'hidden' %> group-hover:flex gap-3 pl-2">
      <% if assistant.custom %>
        <div class="dropdown !inline-flex dropdown-end outline-none">
          <%= icon "ellipsis-horizontal",
                variant: :micro,
                size: 18,
                class: "outline-none inline text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer",
                'data-controller': "nested-pointer",
                title: "More",
                tabindex: 0,
                role: :button
          %>

          <ul tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 -mr-10 mt-7 dark:!bg-zinc-800" data-controller="nested-pointer">
            <li><a><%= icon "cog-6-tooth", variant: :outline, size: 18 %>Settings</a></li>
            <li><a><%= icon "arrow-up-tray", variant: :outline, size: 18 %>Share</a></li>
          </ul>
        </div>
      <% end %>

      <%= link_to new_assistant_message_path(assistant), data: { turbo_frame: '_top' } do %>
        <%= icon "pencil-square",
          variant: :micro,
          size: 18,
          class: "inline text-gray-400 cursor-pointer #{defined?(selected) && selected ? 'text-white' : 'invisible group-hover:visible hover:text-white'}",
          'data-controller': "nested-pointer",
          title: "New"
        %>
      <% end %>
    </div>
  </div>

<% if assistant_counter == 0 %>
  </div>
<% end %>
