<%# locals: (assistant:, settings: true, assistant_counter: -1) %>
<% selected = assistant == @assistant %>
<% first = assistant_counter == 0 %>

<div class="<%= first && 'absolute top-[17px] left-0 pl-3 w-full z-10' %>">
  <%# This extra div ^ is needed because of the absolute positioning. It doesn't lay out properly if added to the div below. %>
  <div class="
              flex justify-between items-center
              mb-1 p-1 pl-2 pr-2 mr-5
              bg-black hover:bg-zinc-800
              group cursor-pointer
              text-sm rounded-lg
              <%= selected && 'relationship' %>
            "
      data-role="assistant"
      data-radio-behavior-target="radio"
      data-action="radio-changed@window->radio-behavior#select"
      data-radio-behavior-id-param="<%= assistant.id %>"
  >
    <%= link_to new_assistant_message_path(assistant), class: "flex-1 flex items-center text-white truncate", data: { role: "name" } do %>
      <div id="profile" class="mr-2 w-7 h-7 bg-white rounded-full"></div>
      <%= assistant.name %>
    <% end %>

    <div class="hidden relationship:flex group-hover:flex gap-3 pl-2">
      <% if settings %>
        <div class="dropdown inline-flex dropdown-end outline-none">
          <%= icon "ellipsis-horizontal",
                variant: :micro,
                size: 18,
                class: "outline-none text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer",
                'data-controller': "nested-pointer",
                title: "More",
                tabindex: 0,
                role: :button
          %>

          <ul tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 -mr-10 mt-7 dark:!bg-zinc-800" data-controller="nested-pointer">
            <li><%= link_to edit_settings_assistant_path(assistant) do %><%= icon "cog-6-tooth", variant: :outline, size: 18 %>Settings<% end %></li>
            <li><a><%= icon "arrow-up-tray", variant: :outline, size: 18 %>Share</a></li>
          </ul>
        </div>
      <% end %>

      <%= link_to new_assistant_message_path(assistant), class: "inline-flex", data: { role: "pencil" } do %>
        <%= icon "pencil-square",
          variant: :micro,
          size: 18,
          class: "text-gray-400 cursor-pointer group-hover:visible hover:text-white invisible relationship:visible relationship:text-white",
          'data-controller': "nested-pointer",
          title: "New"
        %>
      <% end %>
    </div>
  </div>
</div>