<%= form_with(model: [:settings, assistant], class: "contents") do |form| %>
  <% if assistant.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(assistant.errors.count, "error") %> prohibited this assistant from being saved:</h2>

      <ul>
        <% assistant.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name,
      autofocus: assistant.new_record?,
      class: %|
        block w-full
        border border-gray-200 outline-none
        shadow rounded-md
        px-3 py-2 mt-2
        dark:text-black
      | %>
  </div>

  <div class="my-5">
    <%= form.label :language_model_id  %><br/>
    <%= form.select :language_model_id,
      LanguageModel.ordered.pluck(:description, :id),
      {},
      class: %|
        block
        border border-gray-200 outline-none
        shadow rounded-md
        px-3 py-2 mt-2
        w-full
        dark:text-black
      |
    %>
  </div>

  <div class="my-5">
    <%= form.label :description %>
    <%= form.text_field :description, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :instructions, "Custom Instructions" %>
    <%= form.text_area :instructions,
      autofocus: assistant.persisted?,
      class: %|
        block w-full
        border border-gray-200 outline-none
        shadow rounded-md
        px-3 py-2 mt-2
        dark:text-black
        h-18
      |,
      data: {
        controller: "textarea-autogrow",
        action: %|
          keydown.meta+enter->textarea-autogrow#submitForm
          keydown.ctrl+enter->textarea-autogrow#submitForm
        |
      }
    %>
  </div>

  <%= form.submit "Save",
    class: %|
      inline-block font-bold
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    |,
    data: { turbo_submits_with: "Saving..." }
  %>
<% end %>
