<%# locals: (title:, settings: true, selected: false) %>

<div class="h-9 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 <%= defined?(selected) && selected ? 'bg-zinc-400 bg-opacity-25' : '' %> justify-between items-center group cursor-pointer mr-5">
  <div class="flex-1 ml-2 text-white truncate text-sm text-opacity-80 w-5">
    <%= title %>
  </div>
  <div class="<%= selected ? 'flex' : 'hidden' %> group-hover:flex gap-2 pl-2">
    <% if settings %>
      <%= icon "ellipsis-horizontal", variant: :micro, size: 18, class: "inline ml-1 text-gray-400 invisible group-hover:visible hover:text-white cursor-pointer", title: "More" %>
    <% end %>

    <%= icon "archive-box", variant: :outline, size: 16, class: "inline ml-1 text-gray-400 cursor-pointer #{defined?(selected) && selected ? 'text-white' : 'invisible group-hover:visible hover:text-white'}", title: "Archive" %>
  </div>
</div>
