<%# locals: (conversation:, settings: true) %>
<% selected = conversation == @conversation %>

<div
  class="
          rounded-lg mr-5 cursor-pointer group
          hover:bg-gray-100 dark:hover:bg-gray-700
          relationship:bg-gray-200 dark:relationship:bg-gray-700
          mb-px
          <%= selected && 'relationship' %>
        "
  data-role="conversation"
  data-radio-behavior-target="radio"
  data-radio-behavior-also-select-id="<%= conversation.assistant.id %>"
>
  <turbo-frame id="conversation-<%= conversation.id %>" class="flex-1 flex justify-between items-center">

    <%= link_to conversation.title.presence || "New chat",
      conversation_messages_path(conversation),
      class: "flex-1 pl-2 py-2 truncate text-sm text-opacity-1 w-5 radio-behavior",
      data: {
        turbo_frame: "conversation",
        action: "radio-behavior#select",
        role: "title"
      }
    %>

    <div class="items-center hidden gap-2 pl-2 relationship:flex group-hover:flex">
      <div class="dropdown !inline-flex dropdown-end outline-none pr-2">
        <%= icon "ellipsis-horizontal",
          tabindex: 0,
          role: :button,
          variant: :micro,
          size: 18,
          class: %|
            outline-none cursor-pointer group-hover:visible
            hover:text-gray-600 dark:hover:text-gray-300
            focus:text-gray-600 dark:focus:text-gray-300
          |,
          data: {
            controller: "nested-pointer",
            role: "options"
          },
          title: "Options",
          tooltip: :top
        %>

        <menu tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 mt-7 dark:text-white dark:!bg-gray-700" data-controller="nested-pointer">
          <li>
            <%= link_to edit_conversation_path(conversation),
              data: {
                role: "edit",
              },
              class: "flex gap-2 w-full py-2 px-4" do
            %>
              <%= icon "pencil",
                variant: :outline,
                size: 16,
                title: "Rename",
                tooltip: :top,
                class: "mx-[1px]"
              %>Rename
            <% end %>
          </li>
          <li>
            <%= button_to conversation_path(conversation),
              method: :delete,
              data: {
                role: "delete",
              },
              form: {
                class: "inline-block p-0",
                data: { turbo_frame: "_top" },
              },
              class: "flex gap-2 w-full py-2 px-4" do
            %>
              <%= icon "trash", variant: :outline, size: 18 %>Delete
            <% end %>
          </li>
          <footer class="py-3 px-4 mt-1 border-t-2 border-gray-100 dark:border-gray-600 gap-2 flex flex-col">
            <table class="w-full text-left">
              <tr>
                <td class="pb-2 whitespace-nowrap">Conversation</td>
                <td class="pb-2">$</td>
              </tr>
              <tr>
                <td class="pb-2">Input Tokens</td>
                <td class="pb-2"><%= conversation.messages.sum(:input_token_count) %></td>
              </tr>
              <tr>
                <td>Output Tokens</td>
                <td><%= conversation.messages.sum(:output_token_count) %></td>
              </tr>
            </table>
          </footer>
        </menu>
      </div>

    </div>
  </turbo-frame>
</div>
