<div class="flex h-screen">

  <div id="left-column" class="flex-col h-screen w-[260px] bg-black overflow-auto hidden md:flex pl-3 scrollbar-hide">

    <div id="left-content-container" class="flex flex-col flex-grow overflow-auto scrollbar-hide">
      <div id="left-content" class="flex-grow overflow-auto scrollbar-hide">
        <div class="sticky top-0 pt-2 mb-1 bg-black z-10">
          <%= render 'assistant_sidebar_link', title: "ChatGPT", selected: false %>
        </div>
        <%= render 'assistant_sidebar_link', title: "Samantha" %>
        <%= render 'assistant_sidebar_link', title: "Samantha but really long so it wraps" %>
        <%= render 'assistant_sidebar_link', title: "Samantha", selected: true %>
        <%= render 'assistant_sidebar_link', title: "Samantha" %>

        <div class="text-white text-opacity-40 text-xs mx-2 mt-10 mb-2">
          Today
        </div>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind", selected: true %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>

        <div class="text-white text-opacity-40 text-xs mx-2 mt-10 mb-2">
          Yesterday
        </div>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar_link', title: "Custom opacity in tailwind" %>
      </div>

      <div id="left-footer" class="flex-none flex text-white mb-4 mt-3">
        <div class="h-10 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 justify-between items-center w-full group cursor-pointer mb-1">
          <div id="profile" class="ml-2 mr-2 w-7 h-7 bg-white rounded-full"></div>
          <div class="flex-1 text-white truncate">
            Keith Schacht
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="right-column" class="flex flex-1 flex-col h-screen bg-white dark:bg-graphite relative">
    <div id="handle" class="absolute left-0 top-1/2 w-8 h-20 -mt-10 flex group z-20">
      <div class="flex-1 flex tooltip tooltip-right hover:tooltip-open cursor-pointer" data-tip="Close sidebar">
        <div class="flex-1 flex h-full items-center justify-center">
          <div class="w-1 h-5 flex-col opacity-70">
            <div class="w-1 h-3 bg-gray-400 rounded-full -mb-1 group-hover:rotate-12 group-hover:bg-black"></div>
            <div class="w-1 h-3 bg-gray-400 rounded-full group-hover:-rotate-12 group-hover:bg-black"></div>
          </div>
        </div>
      </div>
    </div>

    <!-- Only one of these headers is visible at a time, depending on width -->
    <div id="wide-header" class="flex-none justify-between ml-2 mt-2 mb-3 h-10 text-black dark:text-white text-lg hidden md:flex">
      <%= render 'gpt_header', conversation: @conversation %>

      <div id="right-aligned-content" class="hover:bg-gray-100 cursor-pointer inline-flex mr-5 border border-gray-300 rounded-lg px-2 py-2 mt-1 tooltip tooltip-bottom hover:tooltip-open" data-tip="Share">
        <%= icon "arrow-up-tray", variant: :outline, size: 18, class: 'text-black' %>
      </div>
    </div>

    <div id="narrow-header" class="flex-none h-14 text-lg text-center bg-white dark:bg-zinc-800 md:hidden">
      <div class="flex-1 mb-2 border-b border-zinc-300 dark:border-zinc-600 text-black dark:text-white dark:bg-graphite flex items-center justify-center">
        <%= render 'gpt_header', conversation: @conversation %>
      </div>
    </div>
    <!-- end header -->

    <div id="right-content-container" class="flex flex-col flex-grow overflow-auto">
      <div id="right-content" class="flex-grow overflow-auto relative">
        <div class="w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto mt-2">
          <turbo-frame id="messages" src="<%= conversation_messages_path(@conversation) %>">
            Loading...
          </turbo-frame>
        </div>
      </div>

      <div id="right-footer" class="flex-none flex flex-col relative">
        <div id="scroll-button" class="text-center absolute -top-14 left-1/2 transform -translate-x-1/2">
          <div class="rounded-full border border-gray-300 inline-flex px-2 py-2 tooltip tooltip-top hover:tooltip-open cursor-pointer bg-white hover:bg-gray-100" data-tip="Scroll down">
            <%= icon "chevron-down", variant: :outline, size: 19, class: 'text-gray-800 cursor-pointer hover:text-black stroke-2' %>
          </div>
        </div>

        <div id="composer" class="flex-1 pl-4 pr-6 w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto relative leading-relaxed">
          <div id="attach-button" class="absolute left-9 bottom-6 w-[23px] h-[23px]">
            <%= icon "paper-clip", variant: :mini, size: 23, class: 'text-gray-800 cursor-pointer hover:text-black', title: 'Attach', tooltip: :top %>
          </div>

          <textarea
            data-controller="textarea-autogrow"
            placeholder="Message <%= @conversation.assistant.name %>..."
            rows=1
            class="w-full pt-[14px] pb-[13px] min-h-14 rounded-2xl mb-0 bg-transparent text-black dark:text-gray-200 pl-14 text-md placeholder-zinc-500 border-zinc-300 focus:ring-0 focus:border-zinc-300 focus:shadow resize-none"
          ></textarea>

          <div id="send-button" class="absolute right-8 bottom-4 w-[39px] h-[39px]">
            <% enabled = false %>
            <%= icon "arrow-up-circle", variant: :solid, size: 39, class: "#{enabled ? 'text-gray-800 hover:text-black' : 'text-gray-300'} cursor-pointer", title: 'Send message', tooltip: :top %>
          </div>
        </div>
        <div class="text-center text-gray-500 dark:text-gray-400 text-xs mb-2 w-full">HostedGPT can make mistakes. Consider checking important information.</div>
      </div>
    </div>
  </div>

</div>