<div class="flex flex-row h-screen">

  <div id="left-column" class="flex-col h-screen w-[260px] bg-black overflow-auto hidden md:flex pl-3 pr-5 scrollbar-hide">
    <div id="left-header" class="flex-none flex h-10 mt-3 mb-1">
      <%= render 'gpt_sidebar', title: "ChatGPT", selected: false, settings: false %>
    </div>

    <div id="left-content-container" class="flex flex-col flex-grow overflow-auto scrollbar-hide">
      <div id="left-content" class="flex-grow overflow-auto scrollbar-hide">
        <%= render 'gpt_sidebar', title: "Samantha" %>
        <%= render 'gpt_sidebar', title: "Samantha but really long so it wraps" %>
        <%= render 'gpt_sidebar', title: "Samantha", selected: true %>
        <%= render 'gpt_sidebar', title: "Samantha" %>

        <div class="text-white text-opacity-40 text-xs mx-3 mt-10 mb-2">
          Today
        </div>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind", selected: true %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>

        <div class="text-white text-opacity-40 text-xs mx-3 mt-10 mb-2">
          Yesterday
        </div>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
        <%= render 'conversation_sidebar', title: "Custom opacity in tailwind" %>
      </div>

      <div id="left-footer" class="flex-none flex text-white mb-4 mt-3">
        <div class="h-10 flex pr-2 rounded-lg hover:bg-zinc-400 hover:bg-opacity-25 justify-between items-center w-full group cursor-pointer mb-1">
          <div id="profile" class="ml-2 mr-2 w-7 h-7 bg-white rounded-full"></div>
          <div class="flex-1 text-white truncate">
            Keith Schacht
          </div>
        </div>
      </div>
    </div>
  </div>


  <div id="right-column" class="flex flex-1 flex-col h-screen bg-white dark:bg-graphite">
    <!-- Header that does not grow -->
    <div id="wide-header" class="flex-none justify-between ml-2 mt-2 mb-3 h-10 text-black dark:text-white text-lg hidden md:flex">
      <%= render 'gpt_header', conversation: @conversation %>

      <div id="right-aligned-content" class="hover:bg-gray-100 cursor-pointer inline-flex mr-3 border border-grey-200 rounded-xl px-2 py-2">
        <%= heroicon "logout", variant: :outline, options: { class: 'h-5 w-5 text-gray-500 rotate-[270deg]' } %>
      </div>
    </div>

    <div id="narrow-header" class="flex-none h-14 text-lg text-center bg-white dark:bg-zinc-800 md:hidden">
      <div class="flex-1 mb-2 border-b border-zinc-300 dark:border-zinc-600 text-black dark:text-white dark:bg-graphite flex items-center justify-center">
        <%= render 'gpt_header', conversation: @conversation %>
      </div>
    </div>

    <div id="right-content-container" class="flex flex-col flex-grow overflow-auto">
      <div id="right-content" class="flex-grow overflow-auto">
        <div class="w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto mt-2">
          <turbo-frame id="messages" src="<%= conversation_messages_path(@conversation) %>">
            Loading...
          </turbo-frame>
        </div>
      </div>

      <div id="right-footer" class="flex-none flex">
        <div class="flex-1 px-3 w-full md:max-w-none lg:max-w-[750px] xl:max-w-[870px] mx-auto">
          <input type="text"
            placeholder="Message <%= @conversation.assistant.name %>..."
            class="w-full h-14 rounded-2xl mb-2 bg-transparent text-gray-200 pl-16 text-md placeholder-zinc-500 border-zinc-500 focus:ring-0 focus:border-zinc-500"/>
          <div class="text-center text-gray-500 dark:text-gray-400 text-xs mb-2">HostedGPT can make mistakes. Consider checking important information.</div>
        </div>
      </div>
    </div>
  </div>

</div>