<div class="flex flex-row h-screen">

  <div id="left-column" class="flex-col h-screen w-64 bg-sidebar overflow-auto hidden md:flex">
    <div id="left-header" class="flex-none flex h-10 mt-3 pl-2">
      <%= gpt("HostedGPT") %>
    </div>

    <div id="left-content-container" class="flex flex-col flex-grow overflow-auto">
      <div id="left-content" class="flex-grow overflow-auto pl-2">
        <%= gpt("Samantha") %>
        <%= gpt("Samantha") %>
        <%= gpt("Samantha") %>
        <%= gpt("Samantha") %>

        <div class="text-white text-opacity-40 text-xs mx-3 mt-10 mb-2">
          Today
        </div>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>

        <div class="text-white text-opacity-40 text-xs mx-3 mt-10 mb-2">
          Yesterday
        </div>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
        <%= conversation("Custom opacity in tailwind") %>
      </div>

      <div id="left-footer" class="flex-none flex text-white mb-4 mt-3 pl-2">
        <%= gpt("Keith Schacht2") %>
      </div>
    </div>
  </div>


  <div id="right-column" class="flex flex-1 flex-col h-screen bg-white dark:bg-graphite">
    <!-- Header that does not grow -->
    <div id="wide-header" class="flex-none ml-6 my-4 h-10 text-black dark:text-white text-lg hidden md:block ">
      <%= @conversation.assistant.name %>
    </div>

    <div id="narrow-header" class="flex-none flex h-14 text-lg text-center bg-white dark:bg-zinc-800 md:hidden">
      <div class="flex-1 mb-2 border-b border-zinc-300 dark:border-zinc-600 text-black dark:text-white dark:bg-graphite flex items-center justify-center">
        <%= @conversation.assistant.name %>
      </div>
    </div>

    <div id="right-content-container" class="flex flex-col flex-grow overflow-auto">
      <div id="right-content" class="flex-grow overflow-auto">
        <div class="w-full md:max-w-none lg:max-w-[750px] xl:max-w-[870px] mx-auto">
          <turbo-frame id="messages" src="<%= conversation_messages_path(@conversation) %>">
            Loading...
          </turbo-frame>
        </div>
      </div>

      <div id="right-footer" class="flex-none flex">
        <div class="flex-1 px-3 w-full md:max-w-none lg:max-w-[750px] xl:max-w-[870px] mx-auto">
          <input type="text"
            placeholder="Message <%= @conversation.assistant.name %>..."
            class="w-full h-14 rounded-2xl mb-2 bg-transparent text-gray-200 pl-16 text-md placeholder-zinc-500 border-zinc-500 focus:ring-0 focus:border-zinc-500"/>
          <div class="text-center text-gray-500 dark:text-gray-400 text-xs mb-2">HostedGPT can make mistakes. Consider checking important information.</div>
        </div>
      </div>
    </div>
  </div>

</div>