<div class="dropdown">
  <div tabindex="0" role="button" class="cursor-pointer scale-down inline-flex px-3 py-2 rounded-xl items-center font-medium text-lg outline-none hover:bg-gray-100 dark:hover:bg-zinc-800 focus:bg-gray-100 dark:focus:bg-zinc-800">
    <%= @assistant.name %>
    <%= icon "chevron-down", variant: :mini, class: 'text-gray-500 ml-[2px]' %>
  </div>

  <ul tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 dark:!bg-zinc-800">
    <li>
      <%= link_to edit_settings_assistant_path(@assistant), target: "_top" do %>
        <%= icon "cog-6-tooth", variant: :outline, size: 18 %>Settings
      <% end %>
    </li>
    <li><a><%= icon "arrow-up-tray", variant: :outline, size: 18 %>Share</a></li>
  </ul>
</div>
