<%= button_tag type: "button", 
               class: "border border-gray-200 dark:border-gray-600 rounded-xl px-4 py-3 text-left hover:bg-gray-50 dark:hover:bg-gray-700 group relative" do %>   
  <div class="text-sm">
    <div class="flex flex-col flex-1 min-w-0">
      <span class="font-semibold truncate">Help me pick</span>
      <span class="truncate opacity-50">an outfit that will look good on camera</span>
    </div>

    <div class="p-1.5 bg-white dark:bg-gray-800 rounded-lg hidden group-hover:block absolute right-2 top-1/2 transform -translate-y-1/2">
      <%= icon "arrow-up", variant: :outline, size: 11, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
    </div>
  </div>
<% end %>

<%= button_tag type: "button", 
               class: "border border-gray-200 dark:border-gray-600 rounded-xl px-4 py-3 text-left hover:bg-gray-50 dark:hover:bg-gray-700 group relative" do %>   
  <div class="text-sm">
    <div class="flex flex-col flex-1 min-w-0">
      <span class="font-semibold truncate">Create a personal webpage for me</span>
      <span class="truncate opacity-50">after asking me three questions</span>
    </div>

    <div class="p-1.5 bg-white dark:bg-gray-800 rounded-lg hidden group-hover:block absolute right-2 top-1/2 transform -translate-y-1/2">
      <%= icon "arrow-up", variant: :outline, size: 11, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
    </div>
  </div>
<% end %>

<% 
  # The following conversation starters are hidden on small screens. This attribute must be applied dynamically, once
  # we are no longer hardcoding them.
%>

<%= button_tag type: "button", 
               class: "hidden md:block border border-gray-200 dark:border-gray-600 rounded-xl px-4 py-3 text-left hover:bg-gray-50 dark:hover:bg-gray-700 group relative" do %>   
  <div class="text-sm">
    <div class="flex flex-col flex-1 min-w-0">
      <span class="font-semibold truncate">Recommend activities</span>
      <span class="truncate opacity-50">for a team-building day with remote employees</span>
    </div>

    <div class="p-1.5 bg-white dark:bg-gray-800 rounded-lg hidden group-hover:block absolute right-2 top-1/2 transform -translate-y-1/2">
      <%= icon "arrow-up", variant: :outline, size: 11, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
    </div>
  </div>
<% end %>

<%= button_tag type: "button", 
               class: "hidden md:block border border-gray-200 dark:border-gray-600 rounded-xl px-4 py-3 text-left hover:bg-gray-50 dark:hover:bg-gray-700 group relative" do %>   
  <div class="text-sm">
    <div class="flex flex-col flex-1 min-w-0">
      <span class="font-semibold truncate">Write a SQL query</span>
      <span class="truncate opacity-50">that adds a "status" column to an "orders" table</span>
    </div>

    <div class="p-1.5 bg-white dark:bg-gray-800 rounded-lg hidden group-hover:block absolute right-2 top-1/2 transform -translate-y-1/2">
      <%= icon "arrow-up", variant: :outline, size: 11, class: "text-gray-800 dark:text-white cursor-pointer stroke-3" %>
    </div>
  </div>
<% end %>
