<%= form_with(model: [:settings, language_model], class: "contents", data: { controller: "testing" }) do |form| %>
  <% if language_model.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(language_model.errors.count, "error") %> prohibited this language model from being saved:</h2>

      <ul>
        <% language_model.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5 inline-block w-full">
    <%= form.label :api_name %>
    <span>
      <% if language_model.persisted? %>
        <% link_url = settings_language_models_path + "/" + language_model.id.to_s + "/test" %>
        <%= link_to "Test", link_url,
          data: { testing_target: "test", turbo_stream: true, action: "click->testing#update_link_language_model" },
          class: "underline text-blue-600"
        %>
        <span id="test_result"></span>
      <% end %>
    </span>
    <%= form.text_field :api_name,
      data: { testing_target: "model" },
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black"
      %>
    <span>As specified in the API docs</span>
  </div>

  <% if Current.user.api_services.exists? %>
    <div class="my-5">
      <%= form.label :api_service_id  %><br/>
      <%= form.select :api_service_id,
        Current.user.api_services.ordered.pluck(:name, :id).reverse,
        {},
        data: { action: "change->testing#disable_test_link" },
        class: %|
          block
          border border-gray-200 outline-none
          shadow rounded-md
          px-3 py-2 mt-2
          w-full
          dark:text-black
        |
      %>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.check_box :best %>
    <%= form.label :best, "Best?" %>
  </div>

  <div class="my-5">
    <%= form.check_box :supports_images %>
    <%= form.label :supports_images, "Supports Images?" %>
  </div>
  <div class="my-5">
    <%= form.check_box :supports_tools %>
    <%= form.label :supports_tools, "Supports Tools (Function Calling)?" %>
  </div>
  <div class="my-5">
    <%= form.check_box :supports_system_message %>
    <%= form.label :supports_system_message, "Supports System Message (Instructions)?" %>
  </div>

  <%= form.submit "Save",
    class: %|
      inline-block font-bold
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    |,
    data: { turbo_submits_with: "Saving..." }
  %>
<% end %>
