<h1 class="text-3xl">Language Models</h1>

<p class="my-8">
  <%= link_to "Add New",
    new_settings_language_model_path,
    class: %| inline-block font-bold
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    | %>
</p>

<table id="language-models" class="w-full table-auto border-b border-gray-300 dark:border-b-0">
  <thead>
    <tr class="bg-gray-200 dark:bg-gray-900">
      <th>Name</th>
      <th>Best?</th>
      <th>Description</th>
      <th>API Service</th>
    </tr>
  </thead>

  <tbody>
    <% @language_models.each do |language_model| %>
      <%= turbo_frame_tag dom_id(language_model) do %>
        <tr class="<%= cycle('bg-gray-100 dark:bg-gray-600', 'bg-white dark:bg-gray-900') %> cursor-pointer" data-href="<%= edit_settings_language_model_path(language_model) %>">
          <td class="underline"><%= language_model.api_name %></td>
          <td><%= language_model.best? ? "Yes" : "No" %></td>
          <td><%= language_model.name %></td>
          <td><%= n_a_if_blank(language_model.api_service.name) %></td>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<script>
  document.addEventListener("turbo:load", () => {
    document.querySelectorAll("table#language-models tr[data-href]").forEach(row => {
      row.addEventListener("click", () => {
        window.location.href = row.dataset.href;
      });
    });
  });
</script>
