<div class='flex flex-col items-center justify-center w-full h-screen space-y-4'>

   <div class="p-3 bg-white border border-gray-100 rounded-full">
    <%= image_tag("logo.svg", width: "24", height: "24", class: "text-gray-950") %>
  </div>

  <h2 class='text-3xl font-semibold'>Create your account</h2>

  <% if @person.errors.any? %>
    <div id="error_explanation" class="px-3 py-2 mt-3 font-medium text-red-500 rounded-lg bg-red-50">
      <ul>
        <% @person.errors.full_messages.reverse.each do |error| # We want the User error first %>
          <li><%= error.gsub('Personable ','').capitalize %><%# Cleanup "Personable password is ..." %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <span class='text-sm text-center'>
    Already have an account?
    <%= link_to "Log in", login_path, class: "underline" %>
  </span>

  <%= form_with method: :post,
        model: @person,
        url: users_path,
        class: "flex flex-col space-y-4 w-80",
        data: {
          controller: "transition",
          transition_toggle_class: "max-h-0 max-h-40"
        } do
  |f| %>
    <%= f.hidden_field :personable_type, id: "personable_type", value: "User" %>

    <%= f.label :email, class: "input input-bordered flex items-center justify-between" do %>
      <span>Email <span class="">*</span></span>
      <%= f.email_field :email,
        autofocus: true,
        placeholder: "Email",
        class: "w-44 border-0 dark:text-black"
      %>
    <% end %>

    <%= f.fields_for :personable_attributes, @person.personable do |user_fields| %>
        <%= user_fields.label :password, class: "input input-bordered flex items-center justify-between" do %>
          <span>Password <span class="">*</span></span>
          <%= user_fields.password_field :password,
            placeholder: "Password",
            class: "w-44 border-0 dark:text-black",
            data: { action: "focus->transition#toggleClassOn" }
          %>
        <% end %>

        <div class="
                    <%= @person.errors.any? ? 'max-h-40' : 'max-h-0' %> overflow-hidden
                    flex flex-col
                    transition-all duration-100 ease-in
                    space-y-4
                    "
            data-transition-target="transitionable">

          <%= user_fields.label :name, class: "input input-bordered flex items-center justify-between" do %>
            <span>Full Name <span class="">*</span></span>
            <%= user_fields.text_field :name,
              placeholder: "First & Last name",
              class: "w-44 border-0 dark:text-black"
            %>
          <% end %>
        </div>
    <% end %>
    <%= f.submit "Sign Up",
      class: %|
        text-white font-medium
        bg-brand-blue dark:bg-gray-900
        border border-white dark:border-gray-400
        rounded-lg p-4 text-center
        cursor-pointer
        hover:opacity-95
      |,
      data: { turbo_submits_with: "Creating..." }
    %>
  <% end %>
</div>
