<% if @chat.notes.present? %>
  <div class='flex flex-col text-white overflow-y-scroll' id="<%= dom_id(@chat) %>_notes">
    <% @chat.notes.each do |note| %>
      <div class='w-full flex items-start justify-start' id="<%= dom_id(note) %>">
        <div class='flex space-x-4 px-6 py-6'>
          <div class='flex space-x-4 items-start'>
            <div class='bg-white text-center rounded text-white relative'>
              <img src="https://i.pravatar.cc/57" class="max-w-min rounded" alt='Open AI logo' />
            </div>
            <p><%= note.content %></p>
            <p><%= image_tag(note.image) if note.image.present? %></p>
          </div>
          <%= heroicon "pencil-square" , options: { class: 'h-6 w-6' } %>
        </div>
      </div>
      <%= render partial: "shared/reply", locals: { reply: Reply.for(note) } %>
    <% end %>
  </div>
<% end %>
