<% if @chat.notes.blank? %>
  <div class='flex flex-col space-y-4 justify-center items-center absolute inset-x-0 top-0 bottom-0'>
    <h1 class='text-3xl font-bold pb-12'>ChatGPT</h1>
    <div class='space-y-2'>
      <div class='grid grid-cols-3 gap-4 text-center text-lg'>
        <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "sun", options: { class: 'h-5 w-5' } %>Examples</div>
        <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "lightning-bolt", options: { class: 'h-5 w-5' } %>Capabilities</div>
        <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "exclamation", options: { class: 'h-5 w-5' } %>Limitations</div>
      </div>
      <div class='grid grid-cols-3 gap-4 text-center text-black'>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
      </div>
      <div class='grid grid-cols-3 gap-4 text-center'>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
      </div>
      <div class='grid grid-cols-3 gap-4 text-center'>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
        <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
      </div>
    </div>
  </div>
<% end %>

<% if @chat.notes.present? %>
  <%= turbo_stream_from "#{dom_id(@chat)}_messages" %>
  <div class='flex flex-col text-white overflow-y-scroll' id="<%= dom_id(@chat) %>_messages">
    <% @chat.notes.each do |message| %>
      <div class='w-full flex items-start justify-start' id="<%= dom_id(message) %>">
        <div class='flex space-x-4 px-6 py-6'>
          <div class='flex space-x-4 items-start'>
              <div class='bg-white text-center rounded text-white relative'>
                <img src="https://i.pravatar.cc/57" class="max-w-min rounded" alt='Open AI logo' />
              </div>
            <p><%= message.content %></p>
          </div>
          <%= heroicon "pencil-suqare" , options: { class: 'h-6 w-6' } %>
        </div>
      </div>
      <% if message.replies.any? %>
        <div class='w-full flex items-start justify-start'>
          <div class='flex space-x-4 items-start justify-between px-6 py-6' id="<%= dom_id(message) %>_content">
            <div class='flex space-x-4 items-start'>
              <div class='bg-white text-center p-2 rounded text-white relative'>
                <img src="/logo.svg" class="max-w-min" alt='Open AI logo' />
              </div>
              <p><%= message.replies.first.content %></p>
            </div>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
