<div class='w-64 flex flex-col'>
  <div class='relative flex flex-col flex-grow overflow-y-auto bg-black pt-5'>
    <button class='flex space-x-1 p-2 hover:bg-gray-700 mx-2 border border-gray-300 rounded text-white'>
      <%= heroicon "plus" , options: { class: 'h-5 w-5 text-gray-300' } %>
      New Chat
    </button>
    <% @chats.each do |chat| %>
      <div class='mt-5 flex flex-col text-white'>
        <a href="<%= chat_path(chat) %>" class='flex space-x-2 p-2  mx-2 hover:bg-gray-800 rounded text-white items-center'>
          <p><%= chat.name %></p>
        </a>
      </div>
    <% end %>

    <div class='absolute bottom-0 inset-x-0 border-t border-gray-200/50 mx-2 py-6 px-2'>
      <a href="/home" class='flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center'>
        <%= heroicon "cog" , options: { class: 'h-5 w-5 text-gray-300' } %>
        <p>Settings</p>
      </a>
      <a href="/logout" class='flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center'>
        <%= heroicon "logout" , options: { class: 'h-5 w-5 text-gray-300' } %>
        <p>Logout</p>
      </a>
    </div>
  </div>
</div>
