<div data-settings-modal-target="modal" class="fixed inset-0 flex items-center justify-center z-50 hidden">
  <div class="modal-bg absolute inset-0 bg-black opacity-50"></div>
  <div class="modal-content bg-[#343541] text-gray-200 p-6 rounded shadow-lg">
    <h2 class="text-2xl font-bold mb-4">Settings</h2>
    <%= form_with(model: current_user, method: :put, url: user_path(current_user), id: "settingsForm", class: "w-full",  html: { data: { action: "ajax:success->settings-modal#onPostSuccess"}}) do |form| %>
      <div class="mb-4">
        <%= form.label :openai_key, "OpenAI API Key:", class: "block text-gray-300 font-medium" %>
        <%= form.text_field :openai_key, data: { "settings-modal-target": "apiKeyEl" }, class: "w-full border border-gray-300 rounded px-3 py-2 text-black" %>
      </div>
      <div class="mb-4">
        <%= form.label :first_name, "First Name:", class: "block text-gray-300 font-medium" %>
        <%= form.text_field :first_name, data: { "settings-modal-target": "firstNameEl" }, class: "w-full border border-gray-300 rounded px-3 py-2 text-black" %>
      </div>
      <div class="mb-4">
        <%= form.label :last_name, "Last Name:", class: "block text-gray-300 font-medium" %>
        <%= form.text_field :last_name, data: { "settings-modal-target": "lastNameEl" }, class: "w-full border border-gray-300 rounded px-3 py-2 text-black" %>
      </div>
      <div class="text-right">
        <%= form.button "Save", type: "button", data: { "action": "click->settings-modal#saveSettings", "target": "saveButton" }, class: "bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600" %>
        <button type="submit" data-target="closeButton" data-action="click->settings-modal#closeModal" id="closeModal" class="ml-2 text-gray-300 hover:text-gray-800">Cancel</button>
      </div>
    <% end %>
  </div>
</div>
