<%= turbo_stream_from @conversation %>

<div class="flex h-screen"
    data-controller="click-toggle"
    data-click-toggle-flippable-class="!hidden"
>

  <div id="left-column"
      class="flex-col h-screen w-[260px] bg-black hidden md:block overflow-y-auto overflow-x-clip scrollbar-hide"
      data-click-toggle-target="destination"
  >

    <div id="left-content-container" class="flex flex-col flex-grow">
      <div class="pl-3 flex flex-col mb-28">
        <div id="spacer-above-sticky-assistant" class="sticky top-0 h-4 z-10 bg-black"></div>
        <%= render partial: "shared/assistant_sidebar_link", collection: @sidebar_assistants, as: :assistant %>

        <turbo-frame id="conversations" target="conversation" data-controller="radio-behavior" data-radio-behavior-selected-class="bg-zinc-800 relationship-flex">
          <% @sidebar_conversations.each do |named_time_span, conversations| %>
            <div class="text-white text-opacity-40 text-xs mx-2 mt-10 mb-2">
              <%= named_time_span %>
            </div>

            <%= render partial: 'shared/conversation_sidebar_link', collection: conversations, as: :conversation %>
          <% end %>
        </turbo-frame>
      </div>

      <%= render partial: "shared/user_menu" %>
    </div>
  </div>

  <div id="right-column" class="flex flex-1 h-screen bg-white dark:bg-graphite">
    <%= render partial: @conversation %>
  </div>
</div>