<div  class="flex h-screen"
      data-controller="click-toggle"
      data-click-toggle-flippable-class="!hidden"
>

  <div  id="left-column"
        class="flex-col h-screen w-[287px] bg-black hidden md:block overflow-y-auto overflow-x-clip scrollbar-hide"
        data-click-toggle-target="destination"
  >

    <div id="left-content-container" class="flex flex-col flex-grow">
      <div class="pl-3 flex flex-col mb-28">
        <div id="spacer-above-sticky-assistant" class="sticky top-0 h-4 z-10 bg-black"></div>
        <div id="assistants">
          <div  data-controller="radio-behavior"
                data-radio-behavior-selected-class="relationship"
          >
            <%= render partial: "shared/assistant_sidebar_link", collection: @sidebar_assistants, as: :assistant %>
          </div>
        </div>

        <turbo-frame  id="conversations"
                      target="conversation"
                      data-controller="radio-behavior"
                      data-radio-behavior-selected-class="relationship"
        >
          <% @sidebar_conversations.each do |named_time_span, conversations| %>
            <div class="text-white text-opacity-40 text-xs mx-2 mt-10 mb-2">
              <%= named_time_span %>
            </div>

            <%= render partial: 'shared/conversation_sidebar_link', collection: conversations, as: :conversation %>
          <% end %>
        </turbo-frame>
      </div>

      <%= render partial: "shared/user_menu" %>
    </div>
  </div>

  <div id="right-column" class="flex flex-1 h-screen bg-white dark:bg-graphite">
    <turbo-frame  id="conversation"
                  class="flex flex-1 flex-col relative"
                  data-turbo-action="advance"
    >
      <div  id="handle-container"
            class="absolute left-0 top-1/2 w-8 h-20 -mt-10 z-20 hidden md:flex"
            data-action= "keydown.meta+shift+s@document->click-toggle#toggleClass
                          keydown.meta+period@document->click-toggle#toggleClass
                          click->click-toggle#toggleClass"
      >
        <div id="handle" class="flex-1 flex cursor-pointer group">
          <div id="left-handle" class="flex-1 tooltip tooltip-right hover:tooltip-open" data-tip="Close sidebar" data-click-toggle-target="destination">
            <div class="flex-1 flex h-full items-center justify-center">
              <div id="left" class="w-1 h-5 flex-col opacity-70">
                <div class="w-1 h-3 bg-gray-400 rounded-full -mb-1 group-hover:rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
                <div class="w-1 h-3 bg-gray-400 rounded-full group-hover:-rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
              </div>
            </div>
          </div>

          <div id="right-handle" class="flex-1 tooltip tooltip-right hover:tooltip-open !hidden" data-tip="Open sidebar" data-click-toggle-target="destination">
            <div class="flex-1 flex h-full items-center justify-center">
              <div id="left" class="w-1 h-5 flex-col opacity-70">
                <div class="w-1 h-3 bg-gray-400 rounded-full -mb-1 -rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
                <div class="w-1 h-3 bg-gray-400 rounded-full rotate-12 group-hover:bg-black dark:group-hover:bg-white"></div>
              </div>
            </div>
          </div>
        </div>

      </div>

      <!-- Only one of these headers is visible at a time, depending on width -->
      <div id="wide-header" class="flex-none justify-between ml-2 mt-2 mb-3 h-10 text-black dark:text-white text-lg hidden md:flex">
        <%= render 'shared/assistant_header' %>

        <%= link_to new_assistant_message_path(@assistant), class: "block cursor-pointer inline-flex mr-3 px-2 py-2 group", data: { role: "pencil" } do %>
          <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-zinc-600 group-hover:text-zinc-900 dark:text-zinc-400 dark:group-hover:text-white', title: "New chat", tooltip: :left %>
        <% end %>
      </div>

      <div id="narrow-header" class="flex-none h-14 text-lg text-center bg-white dark:bg-zinc-800 md:hidden">
        <div class="flex-1 mb-2 border-b border-zinc-300 dark:border-zinc-600 text-black dark:text-white dark:bg-graphite flex items-center justify-between">
          <div class="cursor-pointer inline-flex ml-1 px-2 group">
            <%= icon "bars-3", variant: :outline, size: 22, class: 'stroke-2 text-zinc-600 group-hover:text-zinc-900 dark:text-zinc-400 dark:group-hover:text-white', title: "Menu", tooltip: :right %>
          </div>

          <%= render 'shared/assistant_header' %>

          <%= link_to new_assistant_message_path(@assistant), class: "block cursor-pointer inline-flex mr-1 px-2 group", data: { role: "pencil" } do %>
            <%= icon "pencil-square", variant: :outline, size: 22, class: 'stroke-2 text-zinc-600 group-hover:text-zinc-900 dark:text-zinc-400 dark:group-hover:text-white', title: "New chat", tooltip: :left %>
          <% end %>
        </div>
      </div>
      <!-- end header -->

      <div id="right-content-container" class="flex flex-col flex-grow overflow-y-auto overflow-x-clip" data-controller="scrollable" data-scrollable-not-bottom-class="!block">
        <div id="right-content" class="flex-grow overflow-y-auto overflow-x-clip relative" data-scrollable-target="scrollable" data-action="scroll->scrollable#scrolled">
          <div class="w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto mt-2">
            <%= yield :messages_content %>
          </div>
        </div>

        <div id="right-footer" class="flex-none flex flex-col relative">
          <div id="scroll-button" class="text-center absolute -top-14 left-1/2 transform -translate-x-1/2 hidden" data-scrollable-target="widget">
            <%= button_tag type: "button",
                  class: "block rounded-full bg-white dark:bg-graphite border border-gray-300 dark:border-zinc-600 inline-flex px-2 py-2 tooltip tooltip-top hover:tooltip-open cursor-pointer hover:bg-zinc-100 dark:hover:bg-zinc-600 group",
                  data: {
                    tip: "Scroll down",
                    action: "scrollable#scrollToBottom"
                  } do
            %>
              <%= icon "chevron-down", variant: :outline, size: 19, class: 'text-gray-800 dark:text-zinc-400 cursor-pointer group-hover:text-black dark:group-hover:text-white stroke-2' %>
            <% end %>
          </div>

          <div  id="composer"
                class="flex-1 pl-4 pr-6 w-full md:max-w-none lg:max-w-[700px] xl:max-w-[810px] mx-auto relative leading-relaxed <%= @assistant.images.blank? && 'relationship' %>"
                data-controller="image-upload"
          >
            <%= button_tag type: "button",
                  id: "attach-button",
                  class: "absolute left-9 bottom-6 w-[23px] h-[23px] relationship:hidden",
                  data: { action: "image-upload#choose" } do
            %>
              <%= icon "paper-clip",
                    variant: :mini,
                    size: 23,
                    class: %|
                      text-zinc-600 hover:text-zinc-900 dark:text-gray-300 dark:hover:text-white
                      cursor-pointer stroke-2
                    |,
                    title: 'Attach',
                    tooltip: :top
              %>
            <% end %>

            <div id="document-previews" class="absolute left-7 top-3 space-x-3 hidden show-previews:preview-container" data-image-upload-target="preview">
                <div class="w-16 h-16 rounded-xl flex flex-col items-stretch overflow-hidden border-2 border-zinc-100 group">
                  <%= button_tag type: "button",
                      class: "rounded-full absolute -top-2 -right-2 border border-zinc-300 bg-zinc-200 hidden group-hover:block",
                      data: { action: "image-upload#remove" } do
                  %>
                  <%= icon "x-mark",
                        variant: :mini,
                        class: %|
                          text-zinc-600 hover:text-zinc-900 dark:text-gray-300 dark:hover:text-white
                          cursor-pointer stroke-2
                        |,
                        title: 'Remove file',
                        tooltip: :top
                  %>
                <% end %>

                <%= button_tag type: "button",
                      class: "w-full h-full flex-1 p-0" do
                %>
                  <%= image_tag "", class: "w-full h-full object-cover" %>
                <% end %>
              </div>
            </div>

            <%= form_with(model: [@assistant, @new_message], data: { controller: "new-message", turbo_frame: "_top" }) do |form| %>
              <%= form.hidden_field :conversation_id %>
              <%= form.fields_for :documents, @new_message.documents.build, child_index: Time.now.to_i do |document_form| %>
                <%= document_form.file_field :file, class: "hidden", data: { image_upload_target: "file" } %>
              <% end %>
              <%= form.text_area :content_text,
                data: {
                  new_message_target: "input",
                  image_upload_target: "content",
                  application_target: "newMessageField",
                  controller: "textarea-autogrow",
                  action: %|
                    new-message#disableSubmitButton
                    keydown.enter->new-message#submitForm:prevent
                    keydown.shift+esc@document->new-message#focusKeydown
                    keydown.slash@document->new-message#focusKeydown
                    keydown.esc->new-message#unfocusKeydown
                  |
                },
                rows: 1,
                placeholder: "Message #{@assistant.name} ...",
                class: %|
                  w-full pt-[14px] pb-[13px] min-h-14
                  mb-2 block
                  pl-14 pr-12 relationship:pl-4 show-previews:pt-24
                  bg-transparent
                  text-black placeholder-zinc-500 dark:text-gray-200
                  text-md
                  rounded-2xl border-zinc-600
                  focus:ring-0 focus:border-zinc-500 focus:shadow
                  resize-none
                |
              %>
              <div id="send-button" class="absolute right-8 bottom-4 w-[39px] h-[39px]">
                <%= form.button type: "button",
                  data: {
                    new_message_target: "submit",
                    action: "new-message#submitForm"
                  },
                  id: "send",
                  disabled: true,
                  class: %w|
                    text-gray-300 dark:text-zinc-600
                    enabled:text-gray-800 enabled:hover:text-black
                    enabled:dark:text-gray-300 enabled:dark:hover:text-white
                  | do
                %>
                  <%= icon "arrow-up-circle", variant: :solid, size: 39, title: 'Send message', tooltip: :top %>
                <% end %>
              </div>
            <% end %>
          </div>

          <div class="text-center text-zinc-500 text-xs mb-2 w-full">
            HostedGPT can make mistakes. Consider checking important information.
          </div>
      </div>
    </turbo-frame>
  </div>
</div>