<div class='h-screen bg-white text-black flex'>
  <div class='w-64 flex flex-col'>
    <div class='relative flex flex-col flex-grow overflow-y-auto bg-black pt-5'>
      <button class='flex space-x-1 p-2 hover:bg-gray-700 mx-2 border border-gray-300 rounded text-white'>
        <%= heroicon "plus" , options: { class: 'h-5 w-5 text-gray-300' } %>
        New Chat
      </button>
      <% @chats.each do |chat| %>
        <div class='mt-5 flex flex-col text-white'>
          <a href="<%= chat_path(chat) %>" class='flex space-x-2 p-2  <%= chat != @chat ? 'bg-black/80' : 'bg-gray-700'  %> mx-2 hover:bg-gray-700 rounded text-white items-center'>
            <%= heroicon "chat" , options: { class: 'h-5 w-5 text-gray-300' } %>
            <p><%= chat.name %></p>
          </a>
        </div>
      <% end %>

      <div class='absolute bottom-0 inset-x-0 border-t border-gray-200/50 mx-2 py-6 px-2'>
        <a href="/home" class='flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center'>
          <%= heroicon "cog" , options: { class: 'h-5 w-5 text-gray-300' } %>
          <p>Settings</p>
        </a>
        <a href="/logout" class='flex space-x-2 p-2 hover:bg-black/80 mx-2 rounded text-white text-sm items-center'>
          <%= heroicon "logout" , options: { class: 'h-5 w-5 text-gray-300' } %>
          <p>Logout</p>
        </a>
      </div>
    </div>
  </div>
  <div class='relative flex flex-1 flex-col h-full'>
    <% if @has_answered %>
      <div class='flex flex-col space-y-4 justify-center items-center absolute inset-x-0 top-0 bottom-0'>
        <h1 class='text-3xl font-bold pb-12'>ChatGPT</h1>
        <div class='space-y-2'>
          <div class='grid grid-cols-3 gap-4 text-center text-lg'>
            <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "sun", options: { class: 'h-5 w-5' } %>Examples</div>
            <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "lightning-bolt", options: { class: 'h-5 w-5' } %>Capabilities</div>
            <div class='p-2 font-semibold flex flex-col justify-center items-center'><%= heroicon "exclamation", options: { class: 'h-5 w-5' } %>Limitations</div>
          </div>
          <div class='grid grid-cols-3 gap-4 text-center text-black'>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
          </div>
          <div class='grid grid-cols-3 gap-4 text-center'>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
          </div>
          <div class='grid grid-cols-3 gap-4 text-center'>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Explain quantum computing in simple terms</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>Remembers what user said earlier in the conversation</div>
            <div class='p-2 bg-gray-300 hover:bg-gray-400 rounded-md  text-sm shadow-sm w-60'>May occasionally generate incorrect information</div>
          </div>
        </div>
      </div>
    <% end %>

    <% if @messages.present? %>
      <div class='flex flex-col bg-white text-black'>
        <% @messages.each do |message| %>
          <div class='w-full flex items-center justify-center'>
            <div class='flex space-x-4 bg-white items-center justify-between px-6 py-6 w-1/2'>
              <div class='flex space-x-4 items-center'>
                <div class=' bg-indigo-500 text-center p-1 px-2 rounded text-white'>You</div>
                <p><%= message.content %></p>
              </div>
              <%= heroicon "pencil-suqare" , options: { class: 'h-6 w-6' } %>
            </div>
          </div>
          <% if message.replies.any? %>

            <div class='w-full flex items-center justify-center bg-gray-200 border-t border-b border-gray-500/40'>
              <div class='flex space-x-4 items-center justify-between px-6 py-6 w-1/2'>
                <div class='flex space-x-4 items-center'>
                  <div class='bg-teal-600 text-center p-2 rounded text-white relative'>
                    <img src="/logo.svg" class="max-w-min" alt='Open AI logo' />
                  </div>
                  <p><%= message.replies.first.content %></p>
                </div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>

    <div class='absolute bottom-0 inset-x-0 mx-auto px-4 py-6 max-w-3xl'>
      <div class='text-black border border-gray-300 flex justify-center items-center space-x-2 shadow-md rounded px-2'>
        <input class='flex-1 bg-white p-2 border-0 focus:outline-none' />
        <%= heroicon "paper-airplane", options: { class: 'h-4 w-4 text-right rotate-45 cursor-pointer' } %>
      </div>
    </div>
  </div>
</div>
