<div id="<%= dom_id document %>">
  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.user') %>:</strong>
    <%= document.user_id %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.assistant') %>:</strong>
    <%= document.assistant_id %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.message') %>:</strong>
    <%= document.message_id %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.filename') %>:</strong>
    <%= document.filename %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.purpose') %>:</strong>
    <%= document.purpose %>
  </p>

  <p class="my-5">
  <strong class="block font-medium mb-1"><%= t('app.documents.fields.bytes') %>:</strong>
    <%= document.bytes %>
  </p>

  <% if action_name != "show" %>
  <%= link_to t('app.documents.show_title'), document, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
  <%= link_to t('app.documents.edit'), edit_document_path(document), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
