<div id="<%= dom_id document %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">User:</strong>
    <%= document.user_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Assistant:</strong>
    <%= document.assistant_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Message:</strong>
    <%= document.message_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Filename:</strong>
    <%= document.filename %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Purpose:</strong>
    <%= document.purpose %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Bytes:</strong>
    <%= document.bytes %>
  </p>

  <% if action_name != "show" %>
    <%= link_to "Show this document", document, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
    <%= link_to "Edit this document", edit_document_path(document), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
    <hr class="mt-6">
  <% end %>
</div>
