<%= turbo_stream_from @project %>

<nav class="breadcrumb" aria-label="breadcrumbs">
  <ul>
    <li>
      <%= link_to "Project", projects_path %>
    </li>
    <li class="is-active">
      <%= link_to @project.name, project_path(@project) %>
    </li>
  </ul>
</nav>

<%= render "projects/header", project: @project %>
<%= render "projects/add_task_form", project: @project %>
<%= render "projects/tasks", project: @project, tasks: @tasks %>



