<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl"><%= t('.assistent_memories') %></h1>
  <p class="pt-3">
    <%= t('.explanation') %>
  </p>

  <p class="py-3">
    <% if @memories.length == 0 %>
      <span class="font-bold"><%= t('.no_memories') %></span>
    <% else %>
      <%= button_to t('.clear_all_memories'),
        settings_memories_path,
        form_class: "pb-3",
        class: %|
          inline-block font-bold
          bg-gray-200 dark:bg-gray-900
          border border-gray-400
          rounded-lg py-3 px-5
          cursor-pointer
        |,
        method: :delete,
        data: { turbo_confirm: t('.are_you_sure') }
      %>
    <% end %>
  </p>

  <ul class="pl-6">
    <%= render @memories %>
  </ul>

</div>
