<div class="mx-auto md:w-2/3 w-full">
  <h1 class="text-3xl"><%= t('app.settings.memories.title') %></h1>
  <p class="pt-3">
    <%= t('app.settings.memories.description') %>
  </p>

  <p class="py-3">
    <% if @memories.length == 0 %>
  <span class="font-bold"><%= t('app.settings.memories.none') %></span>
    <% else %>
  <%= button_to t('app.settings.memories.clear_all'),
        settings_memories_path,
        form_class: "pb-3",
        class: %|
          inline-block font-bold
          bg-gray-200 dark:bg-gray-900
          border border-gray-400
          rounded-lg py-3 px-5
          cursor-pointer
        |,
        method: :delete,
  data: { turbo_confirm: t('app.settings.memories.confirm_clear') }
      %>
    <% end %>
  </p>

  <table id="memories" class="w-full table-auto border-b border-gray-300 dark:border-b-0">
    <thead>
      <tr class="bg-gray-200 dark:bg-gray-900">
  <th><%= t('app.settings.memories.table.memory') %></th>
        <th></th>
      </tr>
    </thead>
    <%= render @memories %>
  </table>

</div>
