<%= form_with(model: [:settings, api_service], class: "contents", data: {controller: "testing"}) do |form| %>
  <% if api_service.errors.any? %>
    <div id="error_explanation" class="bg-red-50 text-red-500 px-3 py-2 font-medium rounded-lg mt-3">
      <h2><%= pluralize(api_service.errors.count, "error") %> prohibited this API service from being saved:</h2>

      <ul>
        <% api_service.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="my-5">
    <%= form.label :name %>
    <%= form.text_field :name, class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black" %>
  </div>

  <div class="my-5">
    <%= form.label :driver %>
    <%= form.select :driver,
      APIService.drivers.keys,
      {},
      data: { action: "change->testing#disable_test_link" },
      class: %|
        block
        border border-gray-200 outline-none
        shadow rounded-md
        px-3 py-2 mt-2
        w-full
        dark:text-black
      |
    %>
  </div>

  <div class="my-5 inline-block w-full">
    <%= form.label :url %>
     <span>
      <% if api_service.persisted? %>
        <% link_url = settings_api_services_path + "/" + api_service.id.to_s + "/test" %>
        <%= link_to "Test", link_url,
          data: { testing_target: "test", turbo_stream: true, action: "click->testing#update_link_api_service" },
          class: "underline text-blue-600"
        %>
      <% end %>
      <span id="test_result"></span>
    </span>
    <%= form.text_field :url,
      data: { testing_target: "url" },
      class: "block shadow rounded-md border border-gray-200 outline-none px-3 py-2 mt-2 w-full dark:text-black"
    %>
  </div>

  <div class="my-5" data-controller="transition" data-transition-toggle-class="hidden">
    <%= form.label :token %>
    <%= button_tag type: "button",
      id: "instructions",
      class: "underline text-blue-600 #{!official?(api_service) && 'hidden'}",
      data: {
        transition_target: "transitionable",
        action: "transition#toggleClass",
      } do
      %>How do I get?
    <% end %>
    <ol id="openai-instructions"
      data-transition-target="<%= openai?(api_service) && 'transitionable' %>"
      class="
        list-decimal
        my-3 p-2 pl-8
        border border-gray-200
        bg-gray-50 dark:bg-transparent
        hidden
      "
    >
      <li>Sign up for OpenAI's
        <%= link_to "Platform", "https://platform.openai.com/",
          class: "underline text-blue-600",
          target: "_blank"
        %>, you can sign in with your ChatGPT account.
      </li>
      <li>Click "API Keys" on the left (or
        <%= link_to "take me to API Keys", "https://platform.openai.com/api-keys",
          class: "underline text-blue-600",
          target: "_blank"
        %>).</li>
      <li>Verify your phone number.</li>
      <li>Click "Create new secret key", name it something like "<%= Setting.product_name %>" and paste it below.</li>
      <li>Ensure you have billing set up by clicking "Settings" and "Billing" (or
        <%= link_to "take me to Billing", "https://platform.openai.com/account/billing/overview",
          class: "underline text-blue-600",
          target: "_blank"
        %>).</li>
      <li>Add a "Payment method."</li>
    </ol>
    <ol id="anthropic-instructions"
      data-transition-target="<%= anthropic?(api_service) && 'transitionable' %>"
      class="
        list-decimal
        my-3 p-2 pl-8
        border border-gray-200
        bg-gray-50 dark:bg-transparent
        hidden
      "
    >
      <li>Sign up for Anthropic's web
        <%= link_to "Console", "https://console.anthropic.com/",
          class: "underline text-blue-600",
          target: "_blank"
        %>.
      </li>
      <li>Click your profile in the top right and select "API Keys" (or
        <%= link_to "take me to API Keys", "https://console.anthropic.com/settings/keys",
          class: "underline text-blue-600",
          target: "_blank"
        %>).
      </li>
      <li>Click "Create Key" and name it something like "<%= Setting.product_name %>".</li>
      <li>Click "Copy key" and paste it below.</li>
      <li>Then, click your profile and select "Plans & Billing" (or
        <%= link_to "take me to Plans", "https://console.anthropic.com/settings/plans",
          class: "underline text-blue-600",
          target: "_blank"
        %>).
      </li>
      <li>Click "Claim" if you have any free credits or if you have no free credits click
        "Select Plan" and just pick the "Build" plan.
      </li>
    </ol>
    <ol id="groq-instructions"
      data-transition-target="<%= groq?(api_service) && 'transitionable' %>"
      class="
        list-decimal
        my-3 p-2 pl-8
        border border-gray-200
        bg-gray-50 dark:bg-transparent
        hidden
      "
    >
      <li>Create an account on
        <%= link_to "Groq Cloud Console", "https://console.groq.com/",
          class: "underline text-blue-600",
          target: "_blank"
        %> and log in.
      </li>
      <li>Click "API Keys" on the left (or
        <%= link_to "take me to API Keys", "https://console.groq.com/keys",
          class: "underline text-blue-600",
          target: "_blank"
        %>).</li>
      <li>Click "Create API Key", name it something like "<%= Setting.product_name %>" and paste it below.</li>
    </ol>
    <ol id="gemini-instructions"
      data-transition-target="<%= gemini?(api_service) && 'transitionable' %>"
      class="
        list-decimal
        my-3 p-2 pl-8
        border border-gray-200
        bg-gray-50 dark:bg-transparent
        hidden
      "
    >
      <li>Make sure you have a Google/Gmail account and are signed into it.</li>
      <li>Visit
        <%= link_to "Google AI Studio", "https://aistudio.google.com/",
          class: "underline text-blue-600",
          target: "_blank"
        %>.
      </li>
      <li>Click "Get API Key" on the left (or
        <%= link_to "take me to API Keys", "https://aistudio.google.com/apikey",
          class: "underline text-blue-600",
          target: "_blank"
        %>).</li>
      <li>Click "Create API Key" and when it appears click "Copy" and paste it below.</li>
      <li>After dismissing the dialog, click "Go to billing" to the right of the key.</li>
      <li>After accepting the Google Cloud terms you'll probably see "This project has no billing account." If so, click "Link a billing account" and then "Create billing account." Follow the directions to set it up. You typically receive $300 in free credit to be used within the first 90 days.</li>
      <li>Google has other ways you can create an API key directly from Google Cloud, but it's a lot more confusing. If you would like to try this instead, for some reason, there are some instructions on
        <%= link_to "Gemini Credentials", "https://github.com/gbaptista/gemini-ai#credentials",
          class: "underline text-blue-600",
          target: "_blank"
        %>.
      </li>
    </ol>
    <%= form.text_field :token,
      class: %|
        block shadow
        rounded-md border border-gray-200 outline-none
        px-3 py-2 mt-2 w-full dark:text-black
      |,
      autocomplete: "off",
      id: "input_token",
      data: { testing_target: "token" }
    %>
  </div>

  <%= form.submit "Save",
    class: %|
      inline-block font-bold
      bg-gray-200 dark:bg-gray-900
      border border-gray-400
      rounded-lg py-3 px-5
      cursor-pointer
    |,
    data: { turbo_submits_with: "Saving..." }
  %>
<% end %>
