<h1 class="font-bold text-4xl">
  API Service <%= @api_service.name %>
</h1>

<div class="mt-16">
  <table>
    <tbody>
      <tr>
        <td class="py-2">Name</td>
        <td class="px-4 py-2"><%= @api_service.name %></td>
      </tr>
      <tr>
        <td class="py-2">Driver</td>
        <td class="px-4 py-2"><%= @api_service.driver %></td>
      </tr>
      <tr>
        <td class="py-2">URL</td>
        <td class="px-4 py-2"><%= @api_service.url %></td>
      </tr>
      <tr>
        <td class="py-2">Access Token</td>
        <td class="px-4 py-2"><%= @api_service.access_token.present? ? '[Hidden]' : 'Empty' %></td>
      </tr>
    </tbody>
  </table>
</div>

<div class="mt-16">
  <p>
    <%= link_to "Back to API Services list", settings_api_services_path, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium text-indigo-600 hover:text-indigo-900" %>
  </p>
</div>
