<head>
  <title><%= yield(:title) %></title>

  <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" %>
  <%# daisyui (^) is declared above application (v) so we can override classes from it %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap', "data-turbo-track": Rails.env.production? ? "reload" : "" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": Rails.env.production? ? "reload" : "" %>
  <%= javascript_importmap_tags %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  <%= hotwire_livereload_tags if Rails.env.development? %>
  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">
  <!-- ios-pwa-splash screen: from https://github.com/avadhesh18/iosPWASplash -->
  <%= javascript_include_tag "https://unpkg.com/ios-pwa-splash@1.0.0/cdn.min.js" %>
  <%= javascript_tag do %>
    iosPWASplash('/apple-touch-icon.png', '#ffffff')
  <% end %>
  <!-- /ios-pwa-splash screen-->
  <!-- /PWA -->

  <%= render 'application/head/favicons' %>
  <%= render 'application/head/meta_tags' %>
  <%= content_for :head %>
</head>
