<head>
  <title><%= yield(:title) %></title>
  <%= capybara_lockstep if defined?(Capybara::Lockstep) %>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" %>
  <%# daisyui (^) is declared above application (v) so we can override classes from it %>
  <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap', "data-turbo-track": "reload" %>
  <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
  <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
  <script async src="https://ga.jspm.io/npm:es-module-shims@1.8.2/dist/es-module-shims.js" data-turbo-track="reload"></script>
  <script async src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r128/three.min.js" data-turbo-track="reload"></script>
  <script async id="MathJax-script" src="https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-chtml.js" data-turbo-track="reload"></script>

  <%= javascript_importmap_tags %>
  <%# shim explained ^ https://github.com/rails/importmap-rails#supporting-legacy-browsers-such-as-safari-on-ios-15 %>
  <!-- PWA -->
  <link rel="manifest" href="/manifest.json">
  <!-- ios-pwa-splash screen: from https://github.com/avadhesh18/iosPWASplash -->
  <%= javascript_include_tag "https://unpkg.com/ios-pwa-splash@1.0.0/cdn.min.js" %>
  <%= javascript_tag do %>
    iosPWASplash('/apple-touch-icon.png', '#ffffff')
  <% end %>
  <%= javascript_tag do %>
    // HACK: Fix before we default-enable the voice Feature
    openAIKey = "<%= Feature.voice? && Current.user&.api_services&.openai&.with_token&.first&.token %>"
  <% end %>
  <!-- /ios-pwa-splash screen-->
  <!-- /PWA -->
  <%= render 'application/head/favicons' %>
  <%= render 'application/head/meta_tags' %>
  <%= content_for :head %>
</head>
