<% content_for :title, Setting.product_name %>
<!DOCTYPE html>
<html data-role="<%= Rails.env %>">
  <%= render "head" %>
  <body
    class="
      nav-closed
      <%= Current.user.preferences[:dark_mode] %>
      bg-white dark:bg-gray-800
    "
    data-controller="transition focus-restore"
    data-transition-toggle-class="nav-closed"
    data-transition-target="transitionable"
  >
    <nav
      class="
        min-w-[260px]
        bg-gray-50 dark:bg-gray-900
        h-full
        flex nav-closed:hidden <%= !Current.user.preferences[:nav_closed] && "md:!flex" %>
        z-30 md:z-auto nav-closed:z-auto
        absolute md:relative nav-closed:relative
        overflow-x-clip
        flex-col
        text-gray-950 dark:text-gray-100
        px-safe
      "
    >
      <div id="nav-container" class="flex-1 flex flex-col h-full">
        <div id="nav-scrollable" class="flex-grow pl-3 overflow-y-auto overflow-x-clip scrollbar-hide overscroll-contain">
          <%= yield :nav_column %>
        </div>
        <% if Current.user %>
          <footer class="flex-none pt-2 pb-4 pl-3 pr-5">
            <div class="w-full dropdown dropdown-top dropdown-end">
              <div tabindex="0" role="button" class="flex items-center justify-between w-full h-10 pr-2 mb-1 rounded-lg cursor-pointer scale-down hover:bg-gray-100 dark:hover:bg-gray-700 group !outline-0">
                <%= render partial: "layouts/user_avatar", locals: { user: Current.user, size: 7, classes: "ml-2 mr-2" } %>
                <div class="flex-1 text-sm truncate text-gray-950 dark:text-gray-100 w-20">
                 <%= Current.user.name.full || "Profile" %>
                </div>
                <%= icon "chevron-up", variant: :mini, class: 'text-gray-500 ml-[2px]' %>
              </div>
              <menu tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 dark:!bg-gray-700">
                <li>
                  <%= link_to edit_settings_person_path,
                    data: {
                      controller: "keyboard",
                      action: %|
                        keydown.ctrl+s@document->keyboard#click
                        keydown.meta+s@document->keyboard#click
                      |
                    } do %>
                    <%= icon "cog-6-tooth", variant: :outline, size: 18 %>
                    Settings
                  <% end %>
                </li>
                <li><%= link_to logout_path, data: { turbo: false } do %><%= icon "arrow-right-start-on-rectangle", variant: :outline, size: 18 %>Logout<% end %></li>
              </menu>
            </div>
          </footer>
        <% end %>
      </div>
    </nav>
    <div
      id="mobile-nav-overlay"
      class="fixed inset-0 bg-black z-20 bg-opacity-40 md:hidden nav-closed:hidden "
      data-action="click->transition#toggleClass"
      ></div>
    <main id="main-container" class="flex flex-1 h-full w-full bg-white dark:bg-gray-800 text-gray-950 dark:text-gray-100 px-safe" data-controller="image-upload">
      <%= content_for?(:main) ? yield(:main) : yield %>
    </main>
    <%= render "layouts/alerts" %>
  </body>
</html>
