<!DOCTYPE html>
<html>
  <head>
    <title>HostedGPT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "https://cdn.jsdelivr.net/npm/daisyui@4.6.0/dist/full.min.css" %>
    <%# daisyui (^) is declared above application (v) so we can override classes from it %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", 'https://fonts.googleapis.com/css?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap', "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve %>
    <%= content_for :head %>
  </head>
  <body class="font-sans">
    <div  class="flex h-screen"
          data-controller="transition"
          data-transition-toggle-class="!hidden"
    >
      <div  id="left-column"
            class="flex-col h-screen w-[260px] bg-gray-50 dark:bg-gray-900 hidden md:flex overflow-x-clip relative"
            data-transition-target="me"
      >
        <div id="left-content-container" class="flex-1 flex flex-col h-screen">
          <div id="left-scrollable" class="flex-grow pl-3 overflow-y-auto overflow-x-clip scrollbar-hide">

            <%= yield :left_column %>
          </div>

          <div id="left-footer" class="flex-none pt-2 pb-4 pl-3 pr-5">
            <div class="w-full dropdown dropdown-top dropdown-end">
              <div tabindex="0" role="button" class="flex items-center justify-between w-full h-10 pr-2 mb-1 rounded-lg cursor-pointer scale-down hover:bg-gray-100 dark:hover:bg-gray-700 group">
                <div id="profile" class="ml-2 mr-2 bg-green-200 rounded-full w-7 h-7"></div>
                <div class="flex-1 text-sm truncate text-gray-950 dark:text-gray-100">
                  <%= Current.user.full_name || "Profile" %>
                </div>
                <%= icon "chevron-up", variant: :mini, class: 'text-gray-500 ml-[2px]' %>
              </div>

              <ul tabindex="0" class="dropdown-content z-10 menu p-2 shadow-xl bg-base-100 rounded-box w-52 dark:!bg-gray-700">
                <li><%= link_to edit_settings_person_path do %><%= icon "cog-6-tooth", variant: :outline, size: 18 %>Settings<% end %></li>
                <li><%= link_to logout_path do %><%= icon "arrow-right-start-on-rectangle", variant: :outline, size: 18 %>Logout<% end %></li>
              </ul>
            </div>
          </div>
        </div>
      </div>

      <div id="right-column" class="flex flex-1 h-screen bg-white dark:bg-gray-800">
        <%= content_for?(:body) ? yield(:body) : yield %>
      </div>
    </div>
    <%= render "layouts/toast" %>
  </body>
</html>
