<!DOCTYPE html>
<html class="dark">
  <head>
    <title>HostedGPT</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "tailwind", "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <style>
      body{
        font-family: 'Inter', sans-serif;
      }

    </style>
    <%= turbo_refreshes_with method: :morph, scroll: :preserve  %>
    <%= content_for :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
